.layer1 {
    width: 10000px;
    height: 100%;
    position: absolute;
    float: left;

    .tag {
        margin-left: 50%;
        width: 50%;
        height: 200%;
        background-color: red;
    }
    .sky {
        width: 50%;
        height: 80%;
        background-color: #ccffff;
    }

    .land {
        position: absolute;
        width: 50%;
        height: 20%;

        .grass {
            width: 100%;
            height: 20%;
            background-color: #77b300;
        }

        .soil {
            width: 100%;
            height: 80%;
            background-color: #805500;
        }
    }
}

.fix {
    margin-left: 6%;
    padding-top: 2%;
    font-size: 100px;
    color: black;
}
