/** Sass value **/

$sky: #E0FFFF;
$grass: #ccf370;
$road: #545965;
$spring-leaf1: #5bab30;
$spring-leaf2: #378918;
$spring-leaf3: #5eab31;
$spring-leaf4: #358915;
$spring-leaf5: #a3cd3a;
$spring-leaf6: #abd048;
$spring-leaf7: #a4cf37;
$spring-leaf8: #58a72f;

/** Tree location **/

$line1-minitree: (10, 50),(0, 140),(10, 210),(0, 250),(10, 300),
                (-10, 400),(-10, 250),(10, 50),(10, 300),(-10, 400),
                (0, 200),(0, 130),(10, 350),(10, 320),(-10, 70),
                (10, 400),(0, 120),
                (10, 150),(0, 140),(10, 210),(0, 300),(10, 300),
                (-10, 200),(-10, 250),(10, 50),(10, 200),(-10, 400),
                (0, 200),(0, 130),(10, 350),(10, 320),(10, 150),
                (10, 450),(0, 100),(10, 200),(0, 300),(10, 140),
                (-10, 200),(-10, 250),(10, 50),(10, 350),(10, 270);

$line1-tree: (50, 0, 1.4), (190, 20, 1.3), (60, 30, 1.1), (200, 10, 1.5), (150, 10, 1.3),
            (150, 30, 1.2), (60, 20, 1.3), (140, 20, 1.2), (100, 10, 1.4), (140, 30, 1.2),
            (200, 40, 1.0), (210, 30, 1.1), (60, 20, 1.3), (140, 10, 1.4), (180, 30, 1.2),
            (160, 10, 1.4), (190, 20, 1.4), (210, 30, 1.1), (190, 10, 1.5), (100, 20, 1.3),
            (120, 20, 1.1), (210, 30, 1.2), (80, 10, 1.4), (200, 10, 1.4), (100, 10, 1.3),
            (150, 20, 1.2), (200, 30, 1.2), (90, 10, 1.4), (100, 20, 1.1), (150, 10, 1.5),
            (160, 20, 1.3), (140, 10, 1.5), (70, 0, 1.4), (170, 20, 1.3), (60, 30, 1.1),
            (150, 30, 1.2), (60, 20, 1.3), (140, 20, 1.2), (100, 10, 1.4), (140, 30, 1.2),
            (260, 40, 1.0), (300, 30, 1.1), (60, 20, 1.3), (140, 10, 1.4), (140, 30, 1.2),
            (290, 10, 1.4), (90, 20, 1.4), (210, 30, 1.1), (190, 10, 1.5), (100, 20, 1.3),
            (120, 20, 1.1), (210, 30, 1.2), (80, 10, 1.4), (200, 10, 1.4), (100, 10, 1.3),
            (150, 20, 1.2), (200, 30, 1.2), (90, 10, 1.4), (100, 20, 1.1), (150, 10, 1.5),
            (160, 20, 1.3), (140, 10, 1.5), (70, 0, 1.4), (170, 20, 1.3), (60, 30, 1.1),
            (150, 30, 1.2), (60, 20, 1.3), (140, 20, 1.2), (100, 10, 1.4), (140, 30, 1.2);

$line1-fox: (10, 1300),(0, 1750),(10, 2500), (10, 1880), (0, 1650);
//"https://fonts.googleapis.com/css?family=VT323"
//Leaf function
 @mixin leaf() {
     position: absolute;
     width: 0px;
     height: 0px;
     border-width: 15px 12px;
     border-style: solid;
 }
//Set leaf color
 @mixin leafColor($border-color) {
     content: "";
     bottom: 0;
     border-color: transparent transparent #{$border-color} transparent;
 }

/** Main **/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    position: absolute;
    width: 20000px;
    height: 100%;
}
//Section
#spring {
    width: 50%;
    height: 100%;
}
//background
#background {
    display: block;
    height: 75%;
    width: 100%;
    background-color: $sky;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
//Road & Line
#road {
    display: block;
    height: 25%;
    width: 100%;
}
#tree {
    height: 30%;
    width: 100%;
    border: 1px solid red;
}
.grass {
    height: 30%;
    background-color: $grass;
    border-top: 2px solid #83a250;
    width: 100%;
}

.route {
    height: 70%;
    background: $road;
    width: 100%;
}

.grass > .triangular-tree {
    z-index: 10;
}
.grass > .mini-tree{
    z-index: 20;
}
.grass > .fox {
    z-index: 30;
}

/** Tree **/

.triangular-tree {
    width: 86px;
    height: 102px;
    top: calc(70% - 51px);
    transform: scale(0.9, 1.3);
    .tree {
        .part {
            position: absolute;
            left: 30px;
        }
        .part1 {
            top: -15px;
            z-index: 300;
            .top {
                border-color: transparent transparent #a4ce3d transparent;
            }
            .bottom {
                border-color: #348817 transparent transparent transparent;
                top: 30px;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    right: -24px;
                }
                &:before {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    left: -24px;
                }
            }
        }
        .part2 {
            top: 29px;
            z-index: 200;
            .top {
                border-color: #3c8b19 transparent transparent transparent;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    right: -24px;
                }
                &:before {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    left: -24px;
                }
            }
            .bottom {
                border-color: #a9d045 transparent transparent  transparent;
                bottom: -45px;
                right: -36px;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    right: -24px;
                }
                &:before {
                    @include leaf();
                    @include leafColor($spring-leaf2);
                    left: -24px;
                }
            }
            .bottom2 {
                border-color: #a9d045 transparent transparent  transparent;
                bottom: -45px;
                right: -12px;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf3);
                    right: 0;
                }
            }
        }
        .part3 {
            top: 44px;
            z-index: 100;
            .top {
                border-color: #3c8b19 transparent transparent transparent;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    right: -24px;
                }
                &:before {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    left: -24px;
                }
            }
            .bottom {
                border-color: $spring-leaf4 transparent transparent  transparent;
                bottom: -45px;
                right: -36px;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf4);
                    right: -24px;
                }
                &:before {
                    @include leaf();
                    @include leafColor($spring-leaf6);
                    left: -24px;
                }
            }
            .bottom2 {
                border-color: #5ba831 transparent transparent  transparent;
                bottom: -45px;
                right: -12px;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf5);
                    right: 0;
                }
            }
            .bottom3 {
                border-color: #5cac31 transparent transparent  transparent;
                bottom: -60px;
                right: -48px;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf1);
                    right: -24px;
                }
                &:before {
                    @include leaf();
                    @include leafColor($spring-leaf2);
                    left: -24px;
                }
            }
            .bottom4 {
                border-color: #5aab32 transparent transparent  transparent;
                bottom: -60px;
                right: -24px;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf7);
                    right: 0;
                }
            }
            .bottom5 {
                border-color: $spring-leaf8 transparent transparent  transparent;
                bottom: -60px;
                right: 0;
                &:after {
                    @include leaf();
                    @include leafColor($spring-leaf8);
                    right: 0;
                }
            }
        }
        .triangle {
            @include leaf();
        }
    }
    .base {
        width: 11px;
        height: 13px;
        background: #c99c71;
        position: absolute;
        bottom: 0;
        left: 32px;
        &:after {
            content: "";
            position: absolute;
            left: 11px;
            width: 11px;
            height: 13px;
            background: #736457;
        }
    }
}

/** Mini tree **/
.mini-tree {
    width: 36px;
    height: 25px;
    top: calc(80% - 18px);

    position: absolute;
    z-index: 20;
    .tree {
        width: 30px;
        height: 17px;
        background: #4d3f3b;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        position: absolute;
        &:after {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            border-radius: 50%;
            background: #4d3f3b;
            border: 6px solid #79675b;
            box-sizing: border-box;
            top: 2px;
            left: 3px;
        }
    }
    .base {
        width: 8px;
        height: 8px;
        background: #eecdb5;
        position: absolute;
        top: 17px;
        left: 7px;
        &:after {
            content: "";
            width: 8px;
            height: 8px;
            background: #c7986c;
            position: absolute;
            left: 8px;
        }
    }
}

/** Location auto setting **/
$tree1-count: 0;
$mini1-count: 0;

@for $i from 1 through length($line1-tree) {
    .grass .triangular-tree:nth-child(#{$i}) {
        $temp: nth($line1-tree, $i);
        $tree1-count: $tree1-count + nth($temp, 1);
        $top: nth($temp, 2);
        $size: nth($temp, 3);
        left: $tree1-count + 0px;
        $top: $top + 0px;
        // top: calc(59% + #{$top});
        transform: scaleY($size);
    }
}

@for $i from 1 through length($line1-minitree) {
    .grass > .mushroom:last-child .mini-tree:nth-child(#{$i}) {
        $temp: nth($line1-minitree, $i);
        $mini1-count: $mini1-count + nth($temp, 2);
        $top: nth($temp, 1) + 0px;
        $left: nth($temp, 2) + 0px;
        // top: calc(75% + #{$top});
        left: $mini1-count + 0px;
    }
}

$fox1-count: 0;
@for $i from 1 through length($line1-fox) {
    .grass > .wolf > .fox:nth-child(#{$i}) {
        $temp: nth($line1-fox, $i);
        $fox1-count: $fox1-count + nth($temp, 2);
        $top: nth($temp, 1) + 0px;
        // top: calc(61% + #{$top});
        left: $fox1-count + 0px;
    }
}


//Train

#train {
    left: 50%;
    top: 80%;
    position: fixed;
    z-index: 100;
    transform: rotateY(0);
    .toy-train {
        position: relative;
        left: 30%;
        top: 30%;
        margin-left: -100px;
        margin-top: -15px;
        width: 105px;
        transform: scale(1.4);
        .engine {
            float: right;
            position: relative;
            .window {
                height: 30px;
                width: 30px;
                background-color: #194488;
                position: relative;
                border: 3px solid #000;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    border: 3px solid #000;
                }
                &:before {
                    height: 7px;
                    background-color: #F82510;
                    width: 40px;
                    margin-top: -13px;
                    margin-left: -23px;
                    border-radius: 10px;
                }
                &:after {
                    margin-left: -8px;
                    margin-top: 4px;
                    border-radius: 50%;
                    height: 11px;
                    width: 11px;
                    background-color: #fff;
                }
                .engine-main {
                    height: 15px;
                    width: 35px;
                    border: 3px solid #000;
                    background-color: #3D9A01;
                    position: absolute;
                    border-radius: 0 8px 8px 0;
                    right: -41px;
                    bottom: -3px;
                    &:after {
                        content: "";
                        height: 12px;
                        width: 8px;
                        position: absolute;
                        display: block;
                        right: 5px;
                        top: -18px;
                        border-radius: 50% 50% 50% 50% / 90% 90% 40% 40%;
                        transform: rotate(180deg);
                        z-index: -1;
                        background-color: #194488;
                        border: 3px solid #000;
                    }
                }
            }
            .engine-body {
                height: 17px;
                width: 75px;
                position: absolute;
                left: -2px;
                top: 30px;
                background-color: #F69F00;
                border: 3px solid #000;
                border-radius: 5px;
                &:before {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 5px;
                    left: -11px;
                    bottom: 2px;
                    z-index: -1;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 3px solid #000;
                }
            }
        }
    }
}
// Wheel
.wheels {
    .big-wheel {
        width: 22px;
        height: 22px;
        top: 3px;
        left: 4px;
        animation-delay: -0.3s;
    }
    .normal-wheel {
        height: 20px;
        width: 20px;
        left: 45px;
        top: 5px;
        animation-delay: -0.6s;
    }
}

.wheels > div {
    position: absolute;
    background-color: #F82510;
    border-radius: 50%;
    border: 3px solid #000;
    animation: wheel-rotate 1s linear infinite;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #000;
        top: 50%;
        margin-top: -1px;
    }
    &:after {
        content: "";
        height: 6px;
        width: 6px;
        position: absolute;
        background-color: #000;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-left: -3px;
        margin-top: -3px;
    }
}
// Locomotive
.locomotive {
    height: 35px;
    width: 60px;
    border: 3px solid #000;
    background-color: #F69F00;
    border-radius: 5px;
    position: relative;
    float: left;
    margin-top: 13px;
    .trash {
        height: 35px;
        width: 50px;
        position: absolute;
        top: -18px;
        border: 3px solid #000;
        background-color: #3D9A01;
        border-radius: 20%;
        left: 2px;
        z-index: -1;
    }
    .wheels > div {
        top: 22px;
        animation-delay: -0.6s;
        &:first-child {
            animation-delay: -0.6s;
        }
    }
    .wheels {
        .normal-wheel {
            &:first-of-type {
                left: 2px;
            }
            &:last-of-type {
                left: 32px;
            }
        }
    }
}
//smokes
.smokes:before, .smokes:after,
.smokes span:before {
    display: block;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #ffe;
    border-radius: 50%;
    position: absolute;
    right: 7px;
    top: 20px;
    z-index: -1;
}
.smokes:before {
    animation: smoke 1s linear infinite;
}
.smokes span:before {
    animation: smoke 1s linear infinite;
    animation-delay: -0.6s;
}
.smokes:after {
    animation: smoke 1s linear infinite;
    animation-delay: -0.3s;
}

/** Flag **/

.center {
    height: 70%;
    width: 4%;
    position: absolute;
    left: 1%;
    top: 10%;
    color: #fffd7c;
    z-index: 1;
}

.flag-container {
    height: 230px;
    position: relative;
}

.pole {
    background: rgb(224, 224, 224);
    display: block;
    height: 390px;
    position: relative;
    transform: skew(20deg,0deg);
    width: 10px;
}

.knob {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: block;
    height: 18px;
    position: absolute;
    top: -17px;
    left: -81px;
    width: 20px;
}

.flag {
    background: rgb(66,66,66);
    display: block;
    position: absolute;
    padding-top: 5%;
    padding-left: 6%;
    transform: skew(20deg,0deg);
}

.flag.front {
    left: -44px;
    height: 120px;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 10;
    .flag-text {
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 3px;
        font-size: 250%;
    }
}

.flag.back {
    background: rgb(44, 44, 44);
    width: 100px;
    height: 110px;
    top: 45px;
    left: calc(100% - 74px);
    z-index: 5;
    .shadow {
        border-color: rgb(22, 22, 22) transparent transparent transparent;
        border-style: solid;
        border-width: 35px 45px 0 0;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        position: absolute;
        z-index: 15;
    }
}

/** Fox **/

.fox {
    width: 142px;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 65%;
    transform: rotateY(180deg);
    z-index: 40;
    .tail {
        width: 18px;
        height: 30px;
        background: #ea6b22;
        position: absolute;
        top: -5px;
        right: 0;
        &:after {
            content: "";
            width: 20px;
            height: 20px;
            background: transparent;
            position: absolute;
            border-bottom: 15px solid #ea6b22;
            border-right:15px solid #ea6b22;
            right: 15px;
            top: 20px;
        }
    }
    .body {
        width: 71px;
        height: 28px;
        position: absolute;
        left: 24px;
        z-index: 100;
        top: 39px;
        &:after {
            content: "";
            border: 18px solid #ea6d23;
            border-color: transparent #eb6b23 #eb6b23 transparent;
            position: absolute;
            left: -33px;
            top: -12px;
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
        }
        .part {
            position: absolute;
            width: 0;
            height: 0;
            border: 12px solid #ea6d23;
            border-color: #ea6d23 #ea6d23 transparent transparent;
            transform-origin: bottom center;
            &:after {
                content: "";
                border: 12px solid #ea6d23;
                border-color: transparent transparent #f08c56 #f08c56;
                position: absolute;
                right: -12px;
                top: -12px;
            }
        }
        .part1 {
            right: 0;
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
            -o-transform: rotate(5deg);
        }
        .part2 {
            right: 24px;
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
            -o-transform: rotate(5deg);
            top: -2px;
        }
        .part3 {
            right: 43px;
            -webkit-transform: rotate(-6deg);
            -moz-transform: rotate(-6deg);
            -ms-transform: rotate(-6deg);
            -o-transform: rotate(-6deg);
            top: -2px;
        }
    }
    .legs {
        position: absolute;
        width: 60px;
        height: 20px;
        bottom: -3px;
        left: 29px;
        &:after {
            content: "";
            border: 10px solid #ea6d23;
            border-color: #eb6b23 transparent transparent #eb6b23;
            position: absolute;
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            top: -3px;
        }
        &:before {
            content: "";
            border: 10px solid #ea6d23;
            border-color: #eb6b23 #eb6b23 transparent transparent;
            position: absolute;
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            right: -5px;
            top: -3px;
        }
    }
}

@keyframes smoke {
    100% {
        top: -60px;
        opacity: 0.5;
    }
}

@keyframes wheel-rotate {
    100% {
        transform: rotate(360deg);
    }
}

/** Board **/

.board {
    height: 55%;
    width: 4%;
    position: absolute;
    z-index: 10;
    .display {
        height: 100%;
        border-radius: 20px;
        .speaker, .center-button, .square {
            border: 2px solid #666;
            position: absolute;
        }
        .speaker {
            width: 12px;
            height: 60px;
            top: calc(50% - 30px);
            left: 22px;
            border-radius: 4px;
            background-color: #555;
        }
        .center-button {
            width: 50px;
            height: 50px;
            top: calc(50% - 25px);
            right: 15px;
            border-radius: 50%;
            .square {
                width: 18px;
                height: 18px;
                top: calc(50% - 9px);
                right: 14px;
            }
        }
        .screen {
            height: 100%;
            outline: 0;
            border-top: 20px solid #ccc;
            border-bottom: 20px solid #ccc;
            border-left: 50px solid #ccc;
            border-right: 80px solid #ccc;
            border-radius: 20px;
            background: linear-gradient(to right, #444, #222);
            .section {
                width: 100%;
                height: 100%;
                display: block;
                float: left;
                border: 1px solid #aaa;
                .box {
                    width: 100%;
                    height: 20%;
                    display: flex;
                    color: #eee;
                    font-size: 30px;
                    .title {
                        width: 25%;
                        height: 100%;
                        border-right: 1px solid #777;
                        color: #eee;
                        font-size: 18px;
                        text-align: center;
                        padding-top: 15px;
                    }
                    .content {
                        width: 75%;
                        height: 100%;
                        display: flex;
                        padding-left: 10px;
                        @mixin app($color) {
                            display: block;
                            width: 40px;
                            height: 40px;
                            margin: 5px;
                            background-color: $color;
                            border-radius: 5px;
                        }
                        & > div:after {
                            margin: 10px;
                            float: left;
                            margin-left: 4px;
                            text-align: center;
                            font-size: 12px;
                            font-weight: 300;
                            opacity: 0.9;
                        }

                        $app: ('Basic', 'Core', 'Expert', 'Veteran', 'Master');
                        @for $j from 1 through 5 {
                            & > div:nth-child(#{$j}):after {
                                content: nth($app, $j);
                            }
                        }

                        .kakao {
                            @include app(#ffff00);
                            padding-top: 10px;
                            .logo {
                                width: 30px;
                                height: 20px;
                                background-color: #382323;
                                margin-left: 5px;
                                border-radius: 12px 12px;
                            }
                        }
                        .face {
                            @include app(#455897);
                            padding-top: 3px;
                            .logo {
                                color: white;
                                font-size: 35px;
                                font-weight: 700;
                                text-align: center;
                                margin-bottom: -15px;
                            }
                        }
                        .naver {
                            @include app(#73c72f);
                            padding-top: 3px;
                            .logo {
                                color: white;
                                font-size: 30px;
                                font-weight: 700;
                                text-align: center;
                                margin-bottom: -10px;
                            }
                        }
                        .insta {
                            @include app(#dc6e00);
                            padding-top: 5px;
                            background: linear-gradient(to top right, #dc6e00, #6d35ab);
                            .logo {
                                width: 30px;
                                height: 30px;
                                margin-left: 5px;
                                margin-bottom: -5px;
                                border: 3px solid white;
                                border-radius: 5px;
                            }
                        }
                        .twit {
                            @include app(#80caff)
                            padding: 3px;
                            .logo {
                                color: white;
                                font-size: 35px;
                                font-weight: 700;
                                text-align: center;
                                margin-bottom: -15px;

                            }
                        }
                    }
                }
                .box-title {
                    padding: 10px 0 0 20px;
                }
            }
        }
    }
    .chalkboard {
        height: 100%;
        background-color: #243715;
        border: 8px solid #a67f3f;
        border-radius: 4px;
        font-family: 'Shadows Into Light', cursive;
        font-size: 20px;
        letter-spacing: 3px;
        line-height: 40px;
        p {
            opacity: 0.9;
            color: #eee;
            margin-bottom: 10px;
        }
        .rightboard {
            left: 50%;
        }
        .leftboard, .rightboard {
            display: block;
            width: 50%;
            height: 100%;
            padding: 4%;
            position: absolute;
        }
    }
    %wood {
        height: 50px;
        width: 30px;
        position: absolute;
        background-color: #966f33;
        border-left: 2px solid #725427;
        border-right: 2px solid #725427;
        top: -12%;
        z-index: -10;
    }
    .leftwood {
        @extend %wood;
        left: 5%;
    }
    .rightwood {
        @extend %wood;
        left: calc(95% - 30px);
    }

    .scoreboard {
        width: 80%;
        height: 100%;
        border: 20px solid #222;
        background-color: #444;
        .screen {
            .line {
                width: 90%;
                height: 5px;
                margin-top: 12%;
                margin-left: 10%;
                background-color: white;
            }
            @for $k from 1 through 7 {
                .point:nth-child(#{$k}) {
                    margin-left: 7 * ($k - 1) + %;
                }
            }

            .point {
                position: absolute;
                top: calc(50% - 18px);
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 50%;
                &:after, &:before {
                    display: block;
                    transform: rotate(90deg);
                }
                &:before {
                    float: right;
                    margin-top: -30px;
                    content: 'test';
                }
                // &:after {
                //     content: 'after';
                // }
            }
        }
        & > .boardleg:nth-child(1) {
            left: -10%;
            &:before {
                content: "";
                margin-top: 30px;
                margin-left: -10px;
                display: block;
                width: 150px;
                height: 70px;
                border: 10px solid #f1f1f1;
                border-right: 0px;
            }
            &:after {
                content: "";
                margin-top: 80px;
                margin-left: -10px;
                display: block;
                width: 150px;
                height: 70px;
                border: 10px solid #f1f1f1;
                border-right: 0px;
            }
        }

        & > .boardleg:nth-child(2) {
            right: 10%;
            &:before {
                content: "";
                margin-top: 30px;
                margin-left: -74px;
                display: block;
                width: 150px;
                height: 70px;
                border: 10px solid #f1f1f1;
                border-left: 0px;
            }
            &:after {
                content: "";
                margin-top: 80px;
                margin-left: -74px;
                display: block;
                width: 150px;
                height: 70px;
                border: 10px solid #f1f1f1;
                border-left: 0px;
            }
        }

        .boardleg {
            margin-top: -2%;
            position: absolute;
            width: 6%;
            height: 130%;
            border: 10px solid #f1f1f1;
            border-bottom: 0px;
            z-index: 1;
        }
    }
}

.board:nth-child(2) {
    left: 8%;
    top: 6%;
}

.board:nth-child(3) {
    left: 16%;
    top: 6%;
}

.board:nth-child(4) {
    left: 28%;
    top: 6%;
}

.board.b15 {
    width: 8%;
}
